body {
  padding-top: 5rem;
  color:#010D00;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.navbar-brand{
  color: red;/*add*/
}
.card-header{
  /* color: rgb(78, 131, 131); */
  color: #1B260F;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.task-color1{
  background-color:#D43761;
}
.task-color2{
  background-color: #EBAC48;
}
.task-color3{
  background-color: #5A4FF6;
}
.task-color4{
  background-color: #99D437;
}